header {
    background-image: url("imgs/arkaplan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

#logo {
    transform: scale(0.8);
}

.btns > a {
    cursor: pointer !important;
}

.btns > a:hover {
    box-shadow: 0 0 30px black;
    transform: scale(1.05);
    transition: 200ms ease;
}

#kahve {
    position:absolute;
    bottom: -100vh;
    background-image: url("imgs/menu.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-direction:column;
    transition: 500ms ease;
  
}

#tatli {
    position:absolute;
    bottom: -100vh;
    background-image: url("imgs/menu.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-direction:column;
    transition: 500ms ease;
  
}

#kahvelerdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

#tatlilardiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}



.card {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

    
}

.card:hover {
    transform: translateY(-5px);
    transition: 500ms ease;
    cursor: pointer;
}



.menuyukari {
    transform: translateY(-100vh);
    transition: 500ms ease;
}



.goster {
    visibility: visible;
 
}

.kapat {
    cursor: pointer;
}

.kapat:hover {
    transform: scale(1.05);
}

.kapat:active {
    transform: scale(0.9);
}